@import '~m3-react/src/variables';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

$primary: #ccd1e6;
// $tinted-surface: $primary;

$on-surface-variant: #ccd1e6;
$on-primary-container: #ccd1e6;
// $primary-container: #1D2339;
$primary-container: #1e2336;

$surface: #1e2336;
// $surface: hsl(228, 29%, 16%);
// $on-surface: #dee1ed;
// $on-surface: hsl(228, 29%, 90%);
$on-surface: #ccd1e6;
$accent: #e7e970;
$oswald: 'Oswald';
$sixcaps: 'Six Caps';
$novaflat: 'Nova Flat';
