@import '../../../styles/variables';

.project-item {
  margin-bottom: 20px;
}

.project-item-header {
  font-size: 48px;
  color: $on-surface;
  margin-bottom: 8px;
}

.project-item-content {
  display: flex;
  flex-direction: row;
  // align-items: center;
}

.project-image-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;

  .project-image {
    display: block;
    height: 400px;
    width: 600px;

    border-radius: 12px;
  }
}

.project-text-container {
  display: flex;
  flex: 1 1 auto;
  order: 1;

  .project-text {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 480px;

    margin-left: 16px;

    .project-description {
      display: flex;
      flex: 1 1 auto;
      order: -1;
      // flex-direction: column-reverse;

      // color: $on-surface;
      color: white;
    }
  }
}

.project-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  order: 1;

  .link-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    a {
      display: flex;
      align-items: center;

      height: 40px;
      max-width: fit-content;

      padding: 8px 24px 8px 16px;
      padding: 8px;
      border: 1px solid $accent;
      border-radius: 20px;
      margin-right: 16px;

      color: $accent;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;

      .svg-icon-container {
        display: flex;
        align-items: center;

        height: 24px;
        width: 24px;
        // margin-right: 8px;

        .svg-icon {
          display: block;
          height: 100%;
          width: 100%;

          background-color: $accent;

          &.github {
            mask-image: url(../../../assets/github.svg);
            -webkit-mask-image: url(../../../assets/github.svg);
          }

          &.npm {
            mask-image: url(../../../assets/npm.svg);
            -webkit-mask-image: url(../../../assets/npm.svg);
          }
        }
      }

      &:hover {
        background-color: $accent;
        color: $surface;

        .svg-icon {
          background-color: $surface;
        }
      }
    }
  }
}
